<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GW2</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    
    {{>title}}

    <button form=" ">
      Account Data
    </button>

    <pre id="accountDataText">
      
    </pre>


    <script src="/js/index.js"></script>
  </body>
</html>