<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GW2</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    
    {{>title}}

    <div class="apiData">
      <div>
        <button id="accountButton" form=" ">
          Account Data
        </button>
        <pre id="accountDataText"></pre>
      </div>
      
      <div>
        <button id="raidsButton" form=" ">
        Weekly Raids
        </button>
        <pre id="raidDataText"></pre>
      </div>
    </div>


    <script src="/js/index.js"></script>
  </body>
</html>